.form {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--Gray);
  padding: 28px;
  border-radius: 10px;
  margin-top: 40px;

  .SelectBlock {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  select {
    height: 28px;
    border-radius: 6px;
  }

  .formWrapper {
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #5d5d5d;

    .field {
      flex-direction: column;
    }

    .formItem {
      display: flex;
      gap: 6px;
      padding-bottom: 12px;
      width: 100%;

      input {
        border-radius: 8px;
        height: 18px;
        padding: 4px;
        margin: 10px;
        width: 80%;
      }

      label {
        font-size: 18px;
      }

      p {
        margin-top: 0;
      }

      textarea {
        height: 100px;
        width: 100%;
        border-radius: 10px;
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
        input {
          width: 90%;
        }
      }
    }
  }
}